<!--genre.vtl-->
<h1>All Vinyls in $genre.getGenreName()</h1>
<ul>
  #foreach ($vinyl in $genre.getAllVinyls())
    <li>$vinyl.getTitle()</li>
  #end
</ul>
<a href="/vinyls/new">Add New Vinyl</a>
<!--genre.vtl-->
